<!DOCTYPE html>
<html>
<head>
    <title>Kniffel Spiel</title>
</head>
<body>
    <h1>Kniffel Spielstand</h1>
    <form method="post">
        <table border="1" cellpadding="5">
            <tr>
                <th>Kategorie</th>
                {% for spieler in spieler_punkte %}
                    <th>{{ spieler }}</th>
                {% endfor %}
            </tr>
            {% for kategorie in kategorien %}
            <tr>
                <td>{{ kategorie }}</td>
                {% for spieler in spieler_punkte %}
                <td>
                    <input type="number" name="{{ spieler }}_{{ kategorie }}"
                           value="{{ punkte[spieler][kategorie] }}"
                           {% if kategorie != 'Chance' %}max="{{ max_punkte[kategorie] }}"{% endif %}
                           {% if punkte[spieler][kategorie] != '' %}readonly{% endif %}>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br>
        <input type="submit" value="Aktualisieren">
    </form>

    <h2>Gesamtpunkte:</h2>
    <ul>
        {% for spieler in spieler_punkte %}
            <li>{{ spieler }}: {{ gesamtsumme[spieler] }} Punkte</li>
        {% endfor %}
    </ul>
</body>
</html>
